@font-face {
	font-family: "Jost";
	src: url("fonts/jost/static/Jost-Regular.ttf");
	src: url("fonts/jost/static/Jost-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;	
}


body {
	background-color: #7b2d26;
	font-family: "Jost", "sans-serif";
	color: #d7c9aa;
}

.content-container {
	max-width: min(90%, 60ch);
	margin: 0 auto;
	padding: 1rem;
	text-align: left;	
}

h1 {
	font-size: 1.5rem;
	margin-top: 3rem;
	text-align: left;
}

p {
	font-size: 1rem;
	text-align: left;
}

a:link {
	color: #d7c9aa;
}

a:visited {
	color: #d7c9aa;
}
a:focus {
	color: #d7c9aa;
}

a:hover {
	color: #d7c9aa;
}

a:active {
	color: #d7c9aa;
}

